body {
  font-family: Arial;
  background: #f0f2f5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 80px;
}

.left img {
  width: 300px;
}

.right {
  width: 350px;
}

.login-box {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #1877f2;
  color: white;
  border: none;
}

.signup {
  background: #42b72a;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
}
